*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}
p{
  font-size: 80px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("resources/bone.gif");
  background-size: 5%;
}
::selection{
  color: #ffffff;
  background-color: rgb(2, 1, 0);
}
.box{
  padding: 15px;
  background: rgb(58, 36, 3);
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.cards, .card, .view, .text, p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 450px;
  width: 450px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card.shake{
  animation: shake 0.33s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.cards .card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform 0.22s linear;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card .front-view img{
  max-width: 80px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card .back-view img{
  max-width: 80px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}

.text{
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  height: calc(100% / 4 - 30px);
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.text p{
  font-size: 20px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}
.text p span{
  margin-left: 8px;
}
.text p b{
  font-weight: 800;
}
.text button{
  cursor: pointer;
  font-size: 20px;
  color: #421c02;
  border-radius: 16px;
  padding: 7px 17px;
  background: #fff;
  border: 2px solid #421605;
  transition: 0.4s ease;
}
.text button:hover{
  color: #fff;
  background: #3d1e02;
}

@media screen and (max-width: 1000px) {
  .cards{
    height: 450px;
    width: 450px;
  }
  .card .front-view img{
    max-width: 40px;
  }
  .card .back-view img{
    max-width: 40px;
  }
  .text{
    margin-top: 10px;
    padding: 20 20px;
    height: calc(100% / 4 - 20px);
  }
  .text p{
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }
  .text button{
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #331c01;
  }
}
h{
  font-family:'Times New Roman', Times, serif;
  font-weight: 800;
  font-size:20px;
  min-height: 50vh;
  color:white;
  margin-left: 175px; 
}
h span{
  margin-left:8px;
}
